@font-face {
    font-family: baloo-bhaina;
    src: url(../fonts/Baloo_Bhaina_2/BalooBhaina2-Regular.ttf);
}
@font-face {
    font-family: josefin;
    src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: oswald;
    src: url(../fonts/Oswald/Oswald-VariableFont_wght.ttf);
}
@font-face {
    font-family: quicksand;
    src: url(../fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}
@font-face {
    font-family: roboto-slab;
    src: url(../fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}

/* Space Mono */
@font-face {
    font-family: space-mono;
    font-weight: normal;
    src: url(../fonts/Space_Mono/SpaceMono-Regular.ttf);
}
@font-face {
    font-family: space-mono;
    font-weight: bold;
    src: url(../fonts/Space_Mono/SpaceMono-Bold.ttf);
}
@font-face {
    font-family: space-mono;
    font-style: italic;
    src: url(../fonts/Space_Mono/SpaceMono-Italic.ttf);
}
@font-face {
    font-family: space-mono;
    font-weight: bolder;
    font-style: italic;
    src: url(../fonts/Space_Mono/SpaceMono-BoldItalic.ttf);
}