header {
    background-color: rgb(11, 6, 7);
    overflow: hidden;
    font-family: quicksand;
    font-weight: 100;
}
.main-image {
    background-image: url("../images/abstract-black-hole.jpg");
    background-position: center;
    background-size: cover;
}
a {
    color: rgb(255, 158, 214);
}
.header-text {
    font-family: space-mono;
    font-weight: bold;
}