@import url("./fonts.css");
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(17, 16, 16);
    color: rgb(209, 209, 203);
    font-family: josefin;
}
h1 {
    margin: 0;
    padding: 0;
    color: rgb(238, 233, 227);
}
a {
    color: rgb(255, 191, 175);
    text-decoration: none;
}
a.link-red {
    color: rgb(255, 128, 128);
}
a.link-pink {
    color: rgb(255, 158, 214);
}
a.link-purple {
    color: rgb(158, 165, 255);
}
a:hover {
    text-decoration: underline;
}
header {
    background-color: rgb(11, 6, 7);
    overflow: hidden;
    font-family: quicksand;
    font-weight: 100;
}
hr {
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    padding: 0;
    margin: 0;
}
footer {
    background-color: rgb(8, 8, 8);
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
}
nav {
    display: block;
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 10px 0;
    height: 30px;
    box-shadow: white 0 0 5px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    float: left;
}
nav a, nav a:hover {
    display: inline;
    font-size: 20px;
    vertical-align: middle;
    padding: 0 15px;
    color: white;
    font-family: roboto-slab;
    text-decoration: none;
}
.background-image {
    background-position: center;
    background-size: cover;
}
.darken {
    background: rgba(0, 0, 0, 0.6);
    background-size: cover;
}
.background-image.abstract {
    background-image: url("../images/abstract-black-hole.jpg");
}
.background-image.abstract1 {
    background-image: url("../images/abstract-black-hole1.jpg");
}
.background-image.realistic {
    background-image: url("../images/realistic-black-hole.gif");
}
.background-image.galaxy {
    background-image: url("../images/galaxy3.jpg");
}
.background-image.futuristic {
    background-image: url("../images/futuristic-black-hole.jpg");
}
.header-text {
    font-family: space-mono;
    font-weight: bold;
}
.padding {
    padding: 1rem;
}
.footer-text {
    margin: 0;
    padding: 20px 0;
}
.display-1 {
    font-size: 200%;
}
.display-2 {
    font-size: 300%;
}
.display-3 {
    font-size: 400%;
}
.display-4 {
    font-size: 500%;
}
.centered {
    margin: 0 auto
}
.half {
    width: 50%;
}
.text-center {
    text-align: center;
}
.text-shadow {
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
.no-shadow {
    text-shadow: none;
    box-shadow: none;
}
.image-content-box {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
    border: none;
    overflow: hidden;
}
.image-content-box .image-content {
    background: black;
    overflow: hidden;
    width: 70%;
    text-align: center;
    vertical-align: middle;
}
.image-content-box .text-content {
    width: 30%;
    height: 100%;
    margin: auto 0;
    padding: 20px 0;
}
.image-content img {
    margin: 0 auto;
    max-height: 500px;
}
.container {
    max-width: 95%;
    width: 1200px;
    margin: 0 auto;
}
.container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 1200px) {
    .container {
        width: 992px;
    }
}
@media screen and (max-width: 992px) {
    .container {
        width: 768px;
    }
}
@media screen and (max-width: 768px) {
    .image-content-box .image-content {
        width: 100%;
        order: 2;
    }
    .image-content-box .text-content {
        width: 100%;
        order: 1;
    }
    .container {
        width: 600px;
    }
}
@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}